<?xml version="1.0" encoding="utf-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcc.login.mapper.linkhome.HouseSelectMapper">
    <resultMap id="houseMap" type="House">
        <id property="houseId" column="house_no"/>
        <result property="title" column="title"/>
        <result property="price" column="house_price"/>
        <result property="size" column="house_size"/>
        <result property="structure" column="house_structure"/>
        <result property="url" column="house_url"/>
        <result property="orient" column="house_orient"/>
        <result property="elevator" column="elevator"/>
        <result property="address" column="house_address"/>
        <result property="attentionNum" column="attention_num"/>
        <result property="visitNum" column="visit_num"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="createDate" column="create_time"/>
        <result property="areaId" column="area_no"/>
        <result property="districtId" column="district_no"/>
        <result property="cityId" column="city_no"/>
    </resultMap>

    <resultMap id="areaMap" type="Area">
        <id property="areaId" column="area_no"/>
        <result property="areaName" column="area_name"/>
        <result property="areaPinyinName" column="area_name_pinyin"/>
        <result property="districtId" column="district_no"/>
        <result property="cityId" column="city_no"/>
    </resultMap>

    <resultMap id="districtMap" type="District">
        <id property="districtId" column="district_no"/>
        <result property="districtName" column="district_name"/>
        <result property="districtPinyinName" column="district_name_pinyin"/>
        <result property="cityId" column="city_no"/>
    </resultMap>

    <resultMap id="cityMap" type="City">
        <id property="cityId" column="city_no"/>
        <result property="cityName" column="city_name"/>
        <result property="cityCode" column="city_name_simple"/>
        <result property="cityPinyinName" column="city_name_pinyin"/>
    </resultMap>
    
    <resultMap id="bindHouseMap" type="BindHouseDto">
        <result property="userId" column="user_id"/>
        <result property="userEmail" column="user_email"/>
        <result property="phoneNum" column="user_phonenum"/>
        <result property="districtIds" column="district_ids"/>
        <result property="priceFrom" column="house_price_from"/>
        <result property="priceTo" column="house_price_to"/>
        <result property="sizeFrom" column="house_size_from"/>
        <result property="sizeTo" column="house_size_to"/>
        <result property="structures" column="structures"/>
        <result property="unitPriceFrom" column="house_unitprice_from"/>
        <result property="unitPriceTo" column="house_unitprice_to"/>
        <result property="haveElevator" column="have_elevator"/>
    </resultMap>

    <select id="selectHouses" parameterType="HouseSelectRequest" resultMap="houseMap">
        SELECT H.house_no,H.title,H.house_price,H.house_size,H.house_structure,H.house_url,H.house_orient,H.elevator,
        H.house_address,H.attention_num,H.visit_num,H.unit_price,H.create_time,H.area_no,H.district_no,H.city_no
        FROM house H
        WHERE
        H.district_no IN
        <foreach collection="districtIds" item="districtNo" index="index" open="(" separator="," close=")">
            #{districtNo}
        </foreach>
        <if test="priceFrom!=null">
            AND H.house_price &gt; #{priceFrom}
        </if>
        <if test="priceTo!=null">
            AND H.house_price &lt; #{priceTo}
        </if>
        <if test="sizeFrom!=null">
            AND H.house_size &gt; #{sizeFrom}
        </if>
        <if test="sizeTo!=null">
            AND H.house_size &lt; #{sizeTo}
        </if>
        <if test="unitPriceFrom!=null">
            AND H.unit_price &gt; #{unitPriceFrom}
        </if>
        <if test="unitPriceTo!=null">
            AND H.unit_price &lt; #{unitPriceTo}
        </if>
        <if test="haveElevator!=null">
            AND H.elevator = #{haveElevator}
        </if>
        <if test="structures!=null and structures.size()!=0">
            AND
            <foreach collection="structures" item="structure" index="index" open="(" separator="," close=")">
                H.house_structure LIKE '%${structure}%'
            </foreach>
        </if>
        ORDER BY H.house_no DESC
    </select>

    <select id="getAreaById" parameterType="Integer" resultMap="areaMap">
        SELECT A.area_no,A.area_name,A.district_no,A.city_no,A.area_name_pinyin FROM area A
        WHERE A.area_no = #{areaId}
    </select>

    <select id="getAreaByName" parameterType="String" resultType="Integer">
        SELECT A.area_no FROM area A
        WHERE A.area_name=#{areaName}
    </select>

    <select id="getDistrictById" parameterType="Integer" resultMap="districtMap">
        SELECT D.district_no,D.city_no,D.district_name,D.district_name_pinyin FROM district D
        WHERE C.city_no = #{districtId}
    </select>

    <select id="getDistrictByName" parameterType="String" resultType="Integer">
        SELECT D.district_no FROM district D
        WHERE D.district_name=#{districtName}
    </select>

    <select id="getCityById" parameterType="Integer" resultMap="cityMap">
        SELECT C.city_no,C.city_name,C.city_name_simple,C.city_name_pinyin FROM city C
        WHERE C.city_no = #{cityId}
    </select>

    <select id="getCityByName" parameterType="String" resultType="Integer">
        SELECT C.city_no FROM city C
        WHERE C.city_name=#{cityName}
    </select>

    <select id="queryHouseCondition" parameterType="Integer" resultMap="bindHouseMap">
        SELECT user_id,house_price_from,house_price_to,house_size_from,house_size_to,
        house_unitprice_from,house_unitprice_to,have_elevator,district_ids,structures
        FROM house_condition WHERE user_id=#{userId}
    </select>

    <select id="selectAllCondition" resultMap="bindHouseMap">
        SELECT user_id,house_price_from,house_price_to,house_size_from,house_size_to,
        house_unitprice_from,house_unitprice_to,have_elevator,district_ids,structures
        FROM house_condition
    </select>
    
    <insert id="bindHouseCondition" parameterType="BindHouseDto">
        INSERT INTO house_condition(user_id,house_price_from,house_price_to,house_size_from,house_size_to,
        house_unitprice_from,house_unitprice_to,have_elevator,district_ids,structures)
        VALUES (#{userId},#{priceFrom},#{priceTo},#{sizeFrom},#{sizeTo},#{unitPriceFrom},#{unitPriceTo},
        #{haveElevator},#{districtIds},#{structures})
    </insert>

    <update id="updateBindHouse" parameterType="BindHouseDto">
        UPDATE house_condition SET house_price_from=#{priceFrom},house_price_to=#{priceTo},house_size_from=#{sizeFrom},
        house_size_to=#{sizeTo},house_unitprice_from=#{unitPriceFrom},house_unitprice_to=#{unitPriceTo},
        have_elevator=#{haveElevator},district_ids=#{districtIds},structures=#{structures}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteBindHouse" parameterType="Integer">
        DELETE FROM house_condition WHERE user_id = #{userId}
    </delete>

</mapper>