<?xml version="1.0" encoding="utf-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zcc.login.mapper.UserInfoMapper">
    <resultMap id="UserMap" type="com.zcc.login.model.User">
        <id property="user_id" column="user_id"/>
        <result property="user_name" column="user_name"/>
        <result property="user_phone_num" column="user_phone_num"/>
        <result property="user_mail" column="user_mail"/>
        <collection property="authorities" ofType="Authority">
            <id property="auth_id" column="auth_id"/>
            <result property="auth_name" column="auth_name"/>
        </collection>
    </resultMap>

    <select id="getUser" parameterMap="SelectUserRequest" resultMap="UserMap">
        SELECT
        U.user_id,
        U.user_name,
        U.user_phone_num,
        U.user_mail,
        A.auth_id,
        A.auth_name
        FROM user_info U
        LEFT JOIN user_auth_link L ON L.user_id = U.user_id
        LEFT JOIN auth_info A ON A.auth_id = L.auth_id
        WHERE U.user_name = #{user_name}
        <if test="user_id !=null">
            AND U.user_id = #{user_id}
        </if>
    </select>
</mapper>