<?xml version="1.0" encoding="utf-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zcc.login.mapper.UserInfoMapper">
    <resultMap id="UserMap" type="User">
        <id property="userId" column="user_id"/>
        <result property="password" column="user_pwd"/>
        <result property="userName" column="user_name"/>
        <result property="phoneNum" column="user_phone_num"/>
        <result property="email" column="user_mail"/>
        <collection property="authorities" ofType="Authority">
            <id property="authId" column="auth_id"/>
            <result property="authName" column="auth_name"/>
        </collection>
    </resultMap>

    <select id="getUser" parameterType="SelectUserRequest" resultMap="UserMap">
        SELECT
        U.user_id,
        U.user_name,
        U.user_pwd,
        U.user_phone_num,
        U.user_mail,
        A.auth_id,
        A.auth_name
        FROM user_info U
        LEFT JOIN user_auth_link L ON L.user_id = U.user_id
        LEFT JOIN auth_info A ON A.auth_id = L.auth_id
        <choose>
            <when test="userName!=null">
                WHERE U.user_name = #{userName}
            </when>
            <when test="userId!=null">
                WHERE U.user_id = #{userId}
            </when>
            <otherwise>
                WHERE U.user_id = #{userId} AND U.user_name = #{userName}
            </otherwise>
        </choose>
    </select>

    <select id="userNameExist" parameterType="String" resultType="boolean">
        SELECT COUNT(*) FROM user_info WHERE user_name = #{userName}
    </select>

    <select id="getUserId" parameterType="String" resultType="Integer">
        SELECT user_id FROM user_info WHERE user_name = #{userName}
    </select>

    <insert id="createUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user_info(user_name,user_pwd,user_phone_num,user_mail,create_time_ymdt,last_reset_pw_time_ymdt)
        VALUES (#{userName},#{password},#{phoneNum},#{email},#{createTimeYmdt},#{lastrResetPwYmdt})
    </insert>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM user_info WHERE user_name=#{userName}
    </delete>
</mapper>